.ui.header
  | 标注
  .ui.right.floated.header
    sui-checkbox([(ngModel)]='operations') 复制/删除

table.ui.small.striped.table.form
  thead
    tr
      th 名称
      th 说明
      th 状态
      th 版本
      th
  tbody
    tr(*ngFor='let family of families; trackBy: tracker')
      td
        a(*ngIf='!editing(family)', [routerLink]="['/annotations', family._id]") {{family.name}}
        .field(*ngIf='editing(family)')
          input([(ngModel)]="editingFamily.name")
      td
        ng-template([ngIf]='!editing(family)') {{family.description}}
        .field(*ngIf='editing(family)')
          textarea([(ngModel)]="editingFamily.description", rows='2')
      td {{family.status}}
      td {{family.version}}
      td.right.aligned
        ng-template([ngIf]='editing(family)')
          .ui.mini.button((click)='editingFamily=null') 取消
          .ui.mini.primary.button((click)='save()') 保存
        ng-template([ngIf]='!editing(family)')
          ng-template([ngIf]='operations')
            button.ui.tiny.button((click)='clone(family)') 复制
            button.ui.tiny.button((click)='remove(family)') 删除
          button.ui.tiny.button((click)='edit(family)') 修改
          button.ui.tiny.button((click)='incVersion(family)') 版本+
