.ui.header
  button.ui.right.floated.tiny.button([hidden]='newRelease', (click)='editNew()') 新版本
  | App版本
  .clearing.divider

table.ui.striped.table.form
  thead
    tr
      th 版本
      th 创建日期
      th 更新说明
      th 安装文件
      th 当前最新
      th 预览版
      th
  tbody
    tr(*ngIf='newRelease')
      td
        input.field.version-name([(ngModel)]="newRelease.versionCode", placeholder='序号', type="number", size="4")
        input.field.version-name([(ngModel)]="newRelease.versionName", placeholder='版本号', size="10")
      td
      td
        textarea(rows='3', [(ngModel)]='newRelease.releaseNote', placeholder='更新说明')
      td
      td
      td
      td
        .ui.tiny.compact.primary.button((click)='saveNew()') 保存
        .ui.tiny.compact.button((click)='cancelEditNew()') 取消
    tr(*ngFor='let rr of releases; index as idx; trackBy: releaseTracker')
      ng-template([ngIf]='rr===editing')
        td
          input.field.version-code([hidden]='rr.packageInfo', [value]="rr.versionCode", placeholder='序号', #vCode='', type="number", size="4")
          input.field.version-name([hidden]='rr.packageInfo', [value]="rr.versionName", placeholder='版本号', #vName='', size="10")
          ng-template([ngIf]='rr.packageInfo') （{{rr.versionCode}}） {{rr.versionName}}
        td {{rr | createdDateString:'yyyy-M-d' }}
        td
          textarea(rows='3', [value]='rr.releaseNote', placeholder='更新说明', #rNote='')
        td
          ng-template([ngIf]='rr.packageInfo')
            .ui.small.label {{rr.packageInfo.uploadedAt | date:'yyyy-M-d' }}
            .ui.small.label {{rr.packageInfo.size | fileSize}}
            .ui.mini.compact.basic.primary.button((click)='dropPackage(rr)') 删除
          ng-template([ngIf]='!rr.packageInfo')
            a((click)='selectFile()', href='javascript:')
              | 上传
              input(type="file", style="display: none", (change)="upload(rr)", #file='')
        td {{rr.current? '是':''}}
        td {{rr.preview? '是':''}}
        td
          .ui.tiny.compact.primary.button((click)='save(rr,vName.value,vCode.value,rNote.value)') 保存
          .ui.tiny.compact.button((click)='cancelEdit()') 取消
      ng-template([ngIf]='rr!==editing')
        td （{{rr.versionCode}}） {{rr.versionName}}
        td {{rr | createdDateString:'yyyy-M-d' }}
        td
          .pre-wrap {{rr.releaseNote}}
        td
          ng-template([ngIf]='rr.packageInfo')
            .ui.small.label {{rr.packageInfo.uploadedAt | date:'yyyy-M-d' }}
            .ui.small.label {{rr.packageInfo.size | fileSize}}
            | &nbsp;&nbsp;
            a(href="{{appPackagesBase+'/'+rr.packageInfo.file}}") 下载
        td {{rr.current? '是':''}}
        td {{rr.preview? '是':''}}
        td
          ng-template([ngIf]='rr.status!=="L"')
            a((click)='edit(rr)', href='javascript:') 修改
            | &nbsp;&nbsp;
            a((click)='lock(rr)', href='javascript:') 锁定
            ng-template([ngIf]='!rr.current&&idx<3&&rr.packageInfo')
              | &nbsp;&nbsp;
              a((click)='setCurrent(rr)', href='javascript:') 设为最新
            ng-template([ngIf]='!rr.preview&&!rr.current&&idx<3&&rr.packageInfo')
              | &nbsp;&nbsp;
              a((click)='setPreview(rr)', href='javascript:') 设为预览
            ng-template([ngIf]='rr.preview')
              | &nbsp;&nbsp;
              a((click)='unsetPreview(rr)', href='javascript:') 取消预览
          ng-template([ngIf]='rr.status==="L"')
            a((click)='archive(rr)', href='javascript:') 隐藏
            | &nbsp;&nbsp;
            a((click)='drop(rr)', href='javascript:') 删除
    tr(*ngIf='!releases||releases.length===0')
      td(colspan='6') No Results.
