.ui.header.book-list-header
  .ui.right.floated.header.opers
    sui-checkbox([(ngModel)]='showZh') 中文
    //.ui.horizontal.list
      a.item((click)='showExpBooks()', href='javascript:') &nbsp;&nbsp;编辑体验
  | 图书&nbsp;&nbsp;
  .ui.small.compact.horizontal.list.cat-list
    a.item((click)='filterCat(null)', [ngClass]='{disabled:category==null}') 全部
    a.item(*ngFor='let cat of categoryOptions', (click)='filterCat(cat.code)', [ngClass]='{disabled:category==cat.code}') {{cat.name}}

table.ui.striped.table
  thead
    tr
      th
      th 代号
      th 书名
      th 作者
      th 类别
      th 状态
      th 统计
      //th 定价
      th
  tbody
    tr(*ngFor='let book of paginatedBooks; trackBy: bookTracker')
      td
        //a((click)='showImage(book)', href='javascript:')
          img.ui.tiny.image(*ngIf='book.image', [src]='bookImagesBase+"/"+book.image.file')
          img.ui.tiny.image.disabled(*ngIf='!book.image', [src]='bookImageNotSet')
      td {{book.code}}
      td
        a([routerLink]="['/books', book.id]")
          .enname {{book.name}}
          .zhname(*ngIf='showZh && book.zhName') {{book.zhName}}
      td
        .enname {{book.author}}
        .zhname(*ngIf='showZh && book.zhAuthor') {{book.zhAuthor}}
      td {{book.categoryName||categoryNames[book.category]}}
      td([ngClass]='{"status-r": book.status==="R"}') {{statusNames[book.status]}}
      td
        a.stat-link(*ngIf='book.stat', (click)='showBookStat(book)') {{book.stat.total | wanUnit}} 词
      //td
        ng-template([ngIf]="book.editExperiment")
          .ui.mini.gray.tag.label 编辑体验
        ng-template([ngIf]="!book.editExperiment")
          .ui.mini.teal.tag.label(*ngIf="book.isFree") 免费
          ng-template([ngIf]="!book.isFree") {{book.priceLabel}}
      td.right.aligned
        a((click)='showDetail(book)', href='javascript:') 详情
        ng-template([ngIf]="!book.editExperiment")
          | &nbsp;&nbsp;
          a((click)='showForm(book)', href='javascript:') 修改
          | &nbsp;&nbsp;
          a((click)='showUsers(book)', href='javascript:') 人员
        ng-template([ngIf]="book.editExperiment")
          | &nbsp;&nbsp;
          a(*ngIf='book.editorRole', (click)='removeExpBook(book)', href='javascript:') 移除
    tr(*ngIf='!books||books.length===0')
      td(colspan='8') No Results.
  tfoot(*ngIf='books&&books.length>=pageSize')
    tr
      th.ui.small.form(colspan='9')
        .pager
          input.ui.mini.input.page-input(type="number", min='1', #pi='', (change)='gotoPage(pi.value);pi.value=""')
          .ui.right.floated.mini.pagination.menu
            a.icon.item([ngClass]='{disabled:page===1}', (click)='previousPage()')
              i.left.chevron.icon
            a.item.disabled {{page}}
            a.icon.item([ngClass]='{disabled:!paginatedBooks||paginatedBooks.length<pageSize}', (click)='nextPage()')
              i.right.chevron.icon
        .clearing

.ui.hidden.clearing.divider
button.ui.right.floated.tiny.basic.primary.button([hidden]='newBook', (click)='editNew()') 新增
.ui.form(*ngIf='newBook')
  .field
    h3.ui.header 新书：
    .fields
      .four.wide.field
        input([(ngModel)]='newBook.code', #newBookCode='', placeholder='Code')
      .four.wide.field
        sui-select.selection([(ngModel)]="newBook.category", [options]="categoryOptions",
          valueField="code", labelField="name", placeholder='类别', #categorySelect='')
          sui-select-option(*ngFor="let option of categorySelect.filteredOptions", [value]="option")
      .four.wide.inline.fields
        label 标注
        sui-select.selection.book-annos([(ngModel)]="newBook.annotationFamilyId", [options]="annOptions",
          valueField="_id", labelField="name", placeholder='标注', #annSelect='')
          sui-select-option(*ngFor="let option of annSelect.filteredOptions", [value]="option")
      //.four.wide.inline.field
        label 语言
        sui-select.selection.book-lang([(ngModel)]="newBook.contentLang", [options]="langOptions",
          valueField="value", labelField="label", placeholder='（原文）', #contentLangSelect='')
          sui-select-option(*ngFor="let option of contentLangSelect.filteredOptions", [value]="option")
        | &nbsp;&nbsp; - &nbsp;&nbsp;
        sui-select.selection.book-lang([(ngModel)]="newBook.transLang", [options]="langOptions",
          valueField="value", labelField="label", placeholder='（对照）', #transLangSelect='')
          sui-select-option(*ngFor="let option of transLangSelect.filteredOptions", [value]="option")
  .fields
    .twelve.wide.field
      input([(ngModel)]="newBook.name", #newBookName='', placeholder='Book Name')
    .four.wide.field
      input([(ngModel)]="newBook.author", placeholder='Author')
  .fields
    .twelve.wide.field
      input([(ngModel)]="newBook.zhName", placeholder='中文书名')
    .four.wide.field
      input([(ngModel)]="newBook.zhAuthor", placeholder='中文作者')
  .field.ui.right.floated.header
    button.ui.tiny.button((click)="cancelEdit()") 取消
    button.ui.tiny.primary.button((click)="add()") 保存

.ui.hidden.clearing.divider
