.ui.small.blue.header
  | 修改 （{{book.code}}）

.ui.content

  .ui.tiny.form(*ngIf='editing')
    h4.ui.dividing.grey.header 书名作者
    .field
      label 英文
      .two.fields
        .ten.wide.field
          input([(ngModel)]='editing.name', placeholder='Book Name')
        .six.wide.field
          input([(ngModel)]='editing.author', placeholder='Author')
    .field
      label 中文
      .two.fields
        .ten.wide.field
          input([(ngModel)]='editing.zhName', placeholder='书名')
        .six.wide.field
          input([(ngModel)]='editing.zhAuthor', placeholder='作者')

    h4.ui.dividing.grey.header 基本信息
    .equal.width.fields
      .field
        label 代号
        input([(ngModel)]='editing.code', placeholder='Code')
      .field
        label 类别
        sui-select.selection([(ngModel)]="editing.category", [options]="categoryOptions",
        valueField="code", labelField="name", placeholder='类别', #categorySelect='')
          sui-select-option(*ngFor="let option of categorySelect.filteredOptions", [value]="option")
      .field
        label 状态
        sui-select.selection([(ngModel)]="editing.status", [options]="statusOptions",
        valueField="value", labelField="label", placeholder='状态', #statusSelect='')
          sui-select-option(*ngFor="let option of statusSelect.filteredOptions", [value]="option")
    .equal.width.inline.fields
      .field
        label 标注
        sui-select.selection([(ngModel)]="editing.annotationFamilyId", [options]="annOptions",
        valueField="_id", labelField="name", placeholder='标注', #annSelect='')
          sui-select-option(*ngFor="let option of annSelect.filteredOptions", [value]="option")
      .field
        label 章节
        sui-checkbox([(ngModel)]='editing.chapsComplete') 录入完整
    .inline.field
      label 语言
      sui-select.selection([(ngModel)]="editing.contentLang", [options]="langOptions",
      valueField="value", labelField="label", placeholder='（原文）', #contentLangSelect='')
        sui-select-option(*ngFor="let option of contentLangSelect.filteredOptions", [value]="option")
      | &nbsp;&nbsp; - &nbsp;&nbsp;
      sui-select.selection([(ngModel)]="editing.transLang", [options]="langOptions",
      valueField="value", labelField="label", placeholder='（对照）', #transLangSelect='')
        sui-select-option(*ngFor="let option of transLangSelect.filteredOptions", [value]="option")
    .field
      label 简介
      input([(ngModel)]='editing.introduction')

    ng-template([ngIf]='!editing.isPrivate')
      h4.ui.dividing.grey.header 定价
      .fields
        .four.wide.field
          label 定价模式
          .grouped.fields
            .field
              sui-checkbox([(ngModel)]='editing.isFree', (click)='updatePriceLabel()') 免费？
            .field
              sui-radio-button([(ngModel)]='editing.pricingMode', name="pricingMode", value="B", [isDisabled]='editing.isFree', (click)='updatePriceLabel()') 按全书
            .field
              sui-radio-button([(ngModel)]='editing.pricingMode', name="pricingMode", value="C", [isDisabled]='editing.isFree', (click)='updatePriceLabel()') 按章节
        .six.wide.field
          label 价格（分）— {{editing.pricingMode==="B"? '全书': editing.pricingMode==="C"? '每章':''}}
          .inline.field
            ng-template([ngIf]='editing.pricingMode==="B"')
              input([(ngModel)]='editing.price', [disabled]='editing.isFree', type='number', min='1', max='19900', step='10', (change)='updatePriceLabel()')
              | &nbsp; {{{price:editing.price} | priceLabel}}
            ng-template([ngIf]='editing.pricingMode==="C"')
              input([(ngModel)]='editing.pricePerChap', [disabled]='editing.isFree', type='number', min='1', max='19900', step='1', (change)='updatePriceLabel()')
              | &nbsp; {{{price:editing.pricePerChap} | priceLabel}}
        .six.wide.field
          label 价格标签
          .inline.field
            input([(ngModel)]='editing.priceLabel', size='12')
            //a((click)='updatePriceLabel()', href='javascript:') 更新

    h4.ui.dividing.grey.header 其他
    .equal.width.fields
      .field
        label 标签
        input([(ngModel)]='editing.tags')
      .field
        label 推荐语
        input([(ngModel)]='editing.slogan')
    //.field
      label 详情
      textarea(rows='2', [(ngModel)]='editing.description')
    .inline.field
      label 主编辑
      | &nbsp;
      ng-template([ngIf]='!admin')
        | {{book.chiefEditorName}}
      ng-template([ngIf]='admin')
        ng-template([ngIf]='!settingChiefEditor')
          | {{book.chiefEditorName}} &nbsp;&nbsp;
          .ui.mini.compact.button((click)='alterChiefEditor()') {{book.chiefEditorName? '变更':'选择'}}
        ng-template([ngIf]='settingChiefEditor')
          | {{book.chiefEditorName}} &nbsp;&nbsp;
          .ui.mini.basic.button((click)='settingChiefEditor=false') 取消
          .ui.users.list(*ngIf='editors')
            .ui.item(*ngFor='let editor of editors')
              | {{editor.userNickName}} &nbsp;&nbsp;&nbsp;&nbsp;
              a((click)='selectChiefEditor(editor)', href='javascript:') 选择
            .ui.item(*ngIf='editors.length===0') （主编辑从编辑中选择，请先在"人员"里增加编辑）
    .inline.field
      label 私有？
      ng-template([ngIf]='admin')
        sui-checkbox([(ngModel)]='editing.isPrivate') 私有
      ng-template([ngIf]='!admin') {{book.isPrivate? '是（不公开）':'否（公开可见）'}}
      | （管理员可修改）

.actions
  button.ui.tiny.button((click)='close()') 取消
  button.ui.tiny.primary.button((click)='save()', autofocus='') 保存并关闭
