.ui.small.header
  .ui.right.floated.small.header
    sui-checkbox([(ngModel)]='showZh') 中文
    sui-checkbox([(ngModel)]='tuneOrder') 排序
    sui-checkbox([(ngModel)]='showRemove') 删除
    .ui.pointing.dropdown.tiny.button(suiDropdown='', autoClose='outsideClick')
      | 设置状态
      i.dropdown.icon
      .menu(suiDropdownMenu='')
        .item(*ngFor='let so of statusOptions', (click)='setAllStatus(so.value,so.label)') {{so.label}}
  | 章节

.ui.celled.list(*ngIf='book')
  .item(*ngFor='let chap of book.chaps; trackBy: chapTracker; first as first; last as last')
    div([hidden]="chap===editingChap")
      .right.floated.header
        ng-template([ngIf]="tuneOrder")
          button.ui.tiny.button(*ngIf='!first', (click)='moveUp(chap)')
            i.angle.arrow.up.icon
            | up
          button.ui.tiny.button(*ngIf='!last', (click)='moveDown(chap)')
            i.angle.arrow.down.icon
            | down
          button.ui.tiny.button(*ngIf='!first', (click)='moveTop(chap)')
            i.angle.double.up.icon
            | top
          button.ui.tiny.button(*ngIf='!last', (click)='moveBottom(chap)')
            i.angle.double.down.icon
            | bottom
        ng-template([ngIf]="!tuneOrder")
          .ui.small.left.pointing.basic.label([ngClass]='{"green": chap.status==="R"}') {{statusNames[chap.status]}}
        ng-template([ngIf]="showRemove")
          button.ui.tiny.button((click)='remove(chap)') Remove
        button.ui.tiny.button((click)='edit(chap)') Edit

      a([routerLink]="['/chaps', chap._id]")
        .pre-wrap {{chap.name}}
        .zhname.pre-wrap(*ngIf="showZh && chap.zhName") {{chap.zhName}}

    .ui.form(*ngIf="chap===editingChap")
      .fields
        .sixteen.wide.field
          textarea(rows='3', [value]='chap.name', placeholder='Title', #chapName='')
      .fields
        .sixteen.wide.field
          textarea(rows='2', [value]='chap.zhName||""', placeholder='标题', #chapZhName='')
      .fields
        .inline.field
          label 状态
          sui-select.selection([(ngModel)]="chap.status", [options]="statusOptions",
          valueField="value", labelField="label", placeholder='状态', #statusSelect='')
            sui-select-option(*ngFor="let option of statusSelect.filteredOptions", [value]="option")
      .right.floated.field
        button.ui.tiny.button((click)="editingChap=null")
          | 取消
        button.ui.tiny.primary.button((click)="saveChap(chap,chapName.value,chapZhName.value)")
          | 保存

  .ui.hidden.clearing.divider
  button.ui.right.floated.tiny.basic.primary.button([hidden]='editNew', (click)='editNew=true;') 新增
  .ui.small.form(*ngIf='editNew')
    .field
      label 新章节
    .fields
      .sixteen.wide.field
        textarea(rows='3', #newChapName='', placeholder='Title')
    .fields
      .sixteen.wide.field
        textarea(rows='2', #newZhName='', placeholder='标题')
    .field.ui.right.floated.header
      button.ui.tiny.button((click)="editNew=false") 取消
      button.ui.tiny.primary.button((click)="add(newChapName.value,newZhName.value)") 保存
    .ui.hidden.clearing.divider
