.ui.header
  .ui.right.floated.header
    sui-checkbox([(ngModel)]='showZh') 中文
    ng-template([ngIf]='currentUser && currentUser.role==="R"')
      sui-checkbox([(ngModel)]='tuneOrder') 排序
      sui-checkbox([(ngModel)]='privilegeOperations', [isDisabled]='tuneOrder') 更多操作
  | 图书

table.ui.striped.table
  thead
    tr
      th
      th 代号
      th 书名
      th 作者
      th 类别
      th 状态
      th 定价
      th
  tbody
    tr(*ngFor='let book of books; trackBy: bookTracker')
      td
        a((click)='showImage(book)', href='javascript:')
          img.ui.tiny.image(*ngIf='book.image', [src]='bookImagesBase+"/"+book.image.file')
          img.ui.tiny.image.disabled(*ngIf='!book.image', [src]='bookImageNotSet')
      td {{book.code}}
      td
        a([routerLink]="['/books', book._id]")
          .enname {{book.name}}
          .zhname(*ngIf='showZh && book.zhName') {{book.zhName}}
      td
        .enname {{book.author}}
        .zhname(*ngIf='showZh && book.zhAuthor') {{book.zhAuthor}}
      td {{categoryNames[book.category]}}
      td([ngClass]='{"status-r": book.status==="R"}') {{statusNames[book.status]}}
      td
        .ui.mini.teal.tag.label(*ngIf="book.isFree") 全免
        ng-template([ngIf]="!book.isFree") {{book.priceLabel}}
      td.right.aligned
        ng-template([ngIf]="tuneOrder")
          button.ui.mini.button(*ngIf='!first', (click)='moveUp(book)')
            i.angle.arrow.up.icon
            | 上
          button.ui.mini.button(*ngIf='!last', (click)='moveDown(book)')
            i.angle.arrow.down.icon
            | 下
          button.ui.mini.button(*ngIf='!first', (click)='moveTop(book)')
            i.angle.double.up.icon
            | 顶
          button.ui.mini.button(*ngIf='!last', (click)='moveBottom(book)')
            i.angle.double.down.icon
            | 底
        ng-template([ngIf]="!tuneOrder")
          ng-template([ngIf]="!privilegeOperations")
            a((click)='showDetail(book)', href='javascript:') 详情
            | &nbsp;&nbsp;
            a((click)='showForm(book)', href='javascript:') 修改
            | &nbsp;&nbsp;
            a((click)='showUsers(book)', href='javascript:') 人员
          ng-template([ngIf]="privilegeOperations")
            a((click)='showPacks(book)', href='javascript:') 内容包
            | &nbsp;&nbsp;
            button.ui.tiny.compact.button((click)='backup(book)') 复制
            //button.ui.tiny.button((click)='remove(book)') 删除
    tr(*ngIf='!books||books.length===0')
      td(colspan='6') No Results.

.ui.hidden.clearing.divider
button.ui.right.floated.tiny.basic.primary.button([hidden]='newBook', (click)='editNew()') 新增
.ui.form(*ngIf='newBook')
  .field
    h3.ui.header 新书：
    .fields
      .four.wide.field
        input([(ngModel)]='newBook.code', #newBookCode='', placeholder='Code')
      .four.wide.field
        sui-select.selection([(ngModel)]="newBook.annotationFamilyId", [options]="annOptions",
        valueField="_id", labelField="name", placeholder='标注', #annSelect='')
          sui-select-option(*ngFor="let option of annSelect.filteredOptions", [value]="option")
      .eight.wide.inline.field
        label 语言
        sui-select.selection([(ngModel)]="newBook.contentLang", [options]="langOptions",
        valueField="value", labelField="label", placeholder='（原文）', #contentLangSelect='')
          sui-select-option(*ngFor="let option of contentLangSelect.filteredOptions", [value]="option")
        | &nbsp;&nbsp; - &nbsp;&nbsp;
        sui-select.selection([(ngModel)]="newBook.transLang", [options]="langOptions",
        valueField="value", labelField="label", placeholder='（对照）', #transLangSelect='')
          sui-select-option(*ngFor="let option of transLangSelect.filteredOptions", [value]="option")
  .fields
    .twelve.wide.field
      input([(ngModel)]="newBook.name", #newBookName='', placeholder='Book Name')
    .four.wide.field
      input([(ngModel)]="newBook.author", placeholder='Author')
  .fields
    .twelve.wide.field
      input([(ngModel)]="newBook.zhName", placeholder='中文书名')
    .four.wide.field
      input([(ngModel)]="newBook.zhAuthor", placeholder='中文作者')
  .field.ui.right.floated.header
    button.ui.tiny.button((click)="cancelEdit()") 取消
    button.ui.tiny.primary.button((click)="add()") 保存

.ui.hidden.clearing.divider
