.ui.small.header
  .ui.right.floated.small.header
    sui-checkbox([(ngModel)]='showZh') 中文
    sui-checkbox(*ngIf='!contentPack', [(ngModel)]='tuneOrder') 排序
    ng-template([ngIf]="!tuneOrder&&!contentPack")
      sui-checkbox([(ngModel)]='showRemove') 删除
      sui-checkbox(*ngIf='currentUser.role==="A"||currentUser.role==="R"', [(ngModel)]='wxLink') 微信链接
      .ui.pointing.dropdown.tiny.button(suiDropdown='', autoClose='outsideClick')
        | 设置状态
        i.dropdown.icon
        .menu(suiDropdownMenu='')
          .item(*ngFor='let so of statusOptions', (click)='setAllStatus(so.value,so.label)') {{so.label}}
    .ui.pointing.dropdown.tiny.button(*ngIf='!tuneOrder&&contentPack', suiDropdown='', autoClose='outsideClick')
      | 内容包（静态化）
      i.dropdown.icon
      .menu(suiDropdownMenu='')
        .item((click)='buildPacks(null)') 生成（全部章节）
        .item((click)='buildPacks("R")') 生成（已上线章节）
        .item((click)='dropAllPacks()') 删除（全部）
    sui-checkbox(*ngIf='(currentUser.role==="A"||currentUser.role==="R")&&!tuneOrder', [(ngModel)]='contentPack') 内容包

  | 章节

.ui.celled.list(*ngIf='book')
  .item(*ngFor='let chap of book.chaps; trackBy: chapTracker; first as first; last as last')
    .right.floated.header([hidden]="chap===editingChap")
      .ui.mini.teal.tag.label(*ngIf="chap.isFree") 免费
      .ui.mini.left.pointing.basic.label([ngClass]='{"green": chap.status==="R"}') {{statusNames[chap.status]}}
      ng-template([ngIf]="tuneOrder")
        button.ui.mini.compact.button(*ngIf='!first', (click)='moveUp(chap)')
          i.angle.arrow.up.icon
          | 上
        button.ui.mini.compact.button(*ngIf='!last', (click)='moveDown(chap)')
          i.angle.arrow.down.icon
          | 下
        button.ui.mini.compact.button(*ngIf='!first', (click)='moveTop(chap)')
          i.angle.double.up.icon
          | 顶
        button.ui.mini.compact.button(*ngIf='!last', (click)='moveBottom(chap)')
          i.angle.double.down.icon
          | 底
      .contentPack(*ngIf="!tuneOrder&&contentPack")
        | 内容包：
        ng-template([ngIf]='chap.contentPack')
          .ui.small.label {{chap.contentPack.builtAt | date:'yyyy-M-d' }}
          a.ui.small.label([href]='bookChapsBase+"/"+book._id+"/"+chap.contentPack.file') {{chap.contentPack.size | fileSize}}
          .ui.mini.compact.basic.button((click)='dropPack(chap)') 删除
        .ui.mini.primary.compact.basic.button((click)='buildPack(chap)') 创建
      ng-template([ngIf]="!tuneOrder&&!contentPack")
        button.ui.tiny.button(*ngIf='showRemove', (click)='remove(chap)') 删除
        button.ui.tiny.button(*ngIf='wxLink', (click)='showLink(chap)') 链接
        ng-template([ngIf]="!showRemove&&!wxLink")
          button.ui.tiny.compact.button((click)='edit(chap)') 标题
          button.ui.tiny.compact.button((click)='editStatus(chap)') 状态

    a([routerLink]="['/chaps', chap._id]", [hidden]="chap===editingChap&&!editChapStatus")
      .pre-wrap {{chap.name}}
      .zhname.pre-wrap(*ngIf="showZh && chap.zhName") {{chap.zhName}}

    .ui.form.title-form(*ngIf="chap===editingChap&&!editChapStatus")
      .fields
        .sixteen.wide.field
          textarea(rows='3', [value]='chap.name', placeholder='Title', #chapName='')
      .fields
        .sixteen.wide.field
          textarea(rows='2', [value]='chap.zhName||""', placeholder='标题', #chapZhName='')
      .right.floated.field
        button.ui.tiny.button((click)="editingChap=null")
          | 取消
        button.ui.tiny.primary.button((click)="saveChap(chap,chapName.value,chapZhName.value)")
          | 保存
      .clearing

    .ui.form.status-form(*ngIf="chap===editingChap&&editChapStatus")
      .right.floated.field
        button.ui.tiny.button((click)="editingChap=null")
          | 取消
        button.ui.tiny.primary.button((click)="saveChapStatus(chap,statusSelect.selectedOption.value)")
          | 保存
      .inline.fields
        .field
          label 状态
          sui-select.selection([ngModel]="chap.status", [options]="statusOptions",
          valueField="value", labelField="label", placeholder='状态', #statusSelect='')
            sui-select-option(*ngFor="let option of statusSelect.filteredOptions", [value]="option")
        .field
          sui-checkbox.toggle([(ngModel)]="editingChapFree") 免费

  .ui.hidden.clearing.divider
  button.ui.right.floated.tiny.basic.primary.button([hidden]='editNew', (click)='editNew=true;') 新增
  .ui.small.form(*ngIf='editNew')
    .field
      label 新章节
    .fields
      .sixteen.wide.field
        textarea(rows='3', #newChapName='', placeholder='Title')
    .fields
      .sixteen.wide.field
        textarea(rows='2', #newZhName='', placeholder='标题')
    .field.ui.right.floated.header
      button.ui.tiny.button((click)="editNew=false") 取消
      button.ui.tiny.primary.button((click)="add(newChapName.value,newZhName.value)") 保存
    .ui.hidden.clearing.divider
