div(*ngIf='book')
  div([hidden]='editing')
    .ui.right.floated.header
      a([hidden]='editing', (click)='edit()', href='javascript:') Edit
    .ui.header {{book.name}}
    .sub.header by {{book.author}}
  .ui.form(*ngIf='editing')
    .fields
      .four.wide.field
        input([value]='book.name', placeholder='Book Name', #bookName='')
      .two.wide.field
        input([value]='book.author', placeholder='Author', #bookAuthor='')
    .field
      button.ui.small.button((click)='this.editing=false') Cancel
      button.ui.small.primary.button((click)='save(bookName.value,bookAuthor.value)') Save
  .ui.hidden.clearing.divider
  .ui.header
    | Chapters
    .ui.right.floated.header
      button.ui.small.basic.button((click)='chapsTuneOrder=!chapsTuneOrder') Order
      button.ui.small.basic.button((click)='chapOperations=!chapOperations') Remove

  .ui.hidden.clearing.divider
  book-chaps([book]='book', [tuneOrder]='chapsTuneOrder', [operations]='chapOperations')

.ui.hidden.divider
button.ui.small.button((click)='goBack()') Back
