div(*ngIf='book')
  .ui.content
    .ui.right.floated.sub.header
      a.book-stat(*ngIf='book.stat', (click)='showBookStat(book)') {{book.stat.total | wanUnit}}词
      | &nbsp;&nbsp;
      button.ui.tiny.button((click)='showDetail()') 详情
      | &nbsp;&nbsp;
      .ui.pointing.dropdown.tiny.button(
        *ngIf='currentUser&&(currentUser.role==="A"||currentUser.role==="R"||!book.editExperiment)',
        suiDropdown='', autoClose='outsideClick')
        | 操作
        i.dropdown.icon
        .menu(suiDropdownMenu='')
          .item((click)='showForm()') 修改
          .item((click)='showUsers()') 人员
          .item((click)='buildBookStat(book)') 词汇统计
          ng-template([ngIf]='currentUser.role==="A"||currentUser.role==="R"')
            .item((click)='showPacks()') 内容包
            //.item((click)='showLink()') 微信链接
            ng-template([ngIf]='!book.editExperiment')
              .item((click)='createExpBook()', suiPopup, popupInverted, popupText="用于编辑体验") 克隆
          ng-template([ngIf]='book.editExperiment')
            .item((click)='syncExpBook()') 同步

    img.ui.tiny.left.floated.image(*ngIf='book.image',
      [src]='book.image? bookImagesBase+"/"+book.image.file: bookImageNotSet',
      [ngClass]='{disabled: !book.image}', (click)='showImage(book)')
    .book-meta
      .name-author
        .book-name {{book.name}}
        .author(*ngIf='book.author')
          span.author-by by
          | {{book.author}}
      .zh-name-author(*ngIf='book.zhName')
        .book-name {{book.zhName}}
        .author(*ngIf='book.zhAuthor')
          span.author-by by
          | {{book.zhAuthor}}
      .props
        .prop
          span.prop-name 代号
          | {{book.code}}
        .prop
          span.prop-name 分类
          | {{categoryNames[book.category]}}
        .prop
          span.prop-name 状态
          | {{statusNames[book.status]}}

  .ui.hidden.clearing.divider

  book-chaps([book]='book')

.ui.hidden.clearing.divider
button.ui.tiny.button((click)='goBack()') 返回
