.ui.header
  | Book List
  .ui.right.floated.header
    sui-checkbox([(ngModel)]='showZh') 中文
    sui-checkbox([(ngModel)]='operations') Operations

table.ui.striped.table
  thead
    tr
      th Name
      th Code
      th Status
      th Version
      th Pricing
      th Memo
      th
  tbody
    tr(*ngFor='let book of books; trackBy: bookTracker')
      td
        a((click)='gotoDetail(book)', [routerLink]="['/books', book._id]")
          .enname {{book.name}}
          .zhname(*ngIf='showZh && book.zhName') {{book.zhName}}
      td {{book.code}}
      td
        | {{book.status}}
        ng-template([ngIf]="book.status=='R'") {{book.visibility}}
      td {{book.version}}
      td {{book.isFree? 'Free':book.price}}
      td {{book.memo}}
      td.right.aligned
        ng-template([ngIf]="operations")
          button.ui.tiny.button((click)='backup(book)') 备份
          button.ui.tiny.button((click)='remove(book)') 删除
    tr(*ngIf='!books||books.length===0')
      td(colspan='7') No Results.

.ui.hidden.clearing.divider
button.ui.right.floated.tiny.basic.primary.button([hidden]='newBook', (click)='editNew()') 新增
.ui.form(*ngIf='newBook')
  .field
    h3.ui.header New Book:
    .fields
      .four.wide.field
        sui-select.selection([(ngModel)]="newBook.langType", [options]="langOptions",
        valueField="value", labelField="label", placeholder='语言', #langSelect='')
          sui-select-option(*ngFor="let option of langSelect.filteredOptions", [value]="option")
      .four.wide.field
        sui-select.selection([(ngModel)]="newBook.annotationFamilyId", [options]="annOptions",
        valueField="_id", labelField="name", placeholder='标注', #annSelect='')
          sui-select-option(*ngFor="let option of annSelect.filteredOptions", [value]="option")
      .four.wide.field
        label Pricing
        sui-checkbox([(ngModel)]='newBook.isFree') Free
  .fields
    .twelve.wide.field
      input([(ngModel)]="newBook.name", placeholder='Book Name')
    .four.wide.field
      input([(ngModel)]="newBook.author", placeholder='Author')
  .fields
    .twelve.wide.field
      input([(ngModel)]="newBook.zhName", placeholder='中文书名')
    .four.wide.field
      input([(ngModel)]="newBook.zhAuthor", placeholder='中文作者')
  .fields
    .two.wide.field
      input([(ngModel)]='newBook.code', placeholder='Code')
    .six.wide.field
      input([(ngModel)]='newBook.tags', placeholder='Tags')
    .eight.wide.field
      input([(ngModel)]='newBook.memo', placeholder='Memo')
  .field.ui.right.floated.header
    button.ui.tiny.button((click)="cancelEdit()") 取消
    button.ui.tiny.primary.button((click)="add()") 保存
  .ui.hidden.clearing.divider
