.ui.small.blue.header
  | 修改 （{{book.code}}）

.ui.content

  .ui.tiny.form(*ngIf='editing')
    h4.ui.dividing.grey.header 书名作者
    .field
      label 英文
      .two.fields
        .twelve.wide.field
          input([(ngModel)]='editing.name', placeholder='Book Name')
        .four.wide.field
          input([(ngModel)]='editing.author', placeholder='Author')
    .field
      label 中文
      .two.fields
        .twelve.wide.field
          input([(ngModel)]='editing.zhName', placeholder='书名')
        .four.wide.field
          input([(ngModel)]='editing.zhAuthor', placeholder='作者')

    h4.ui.dividing.grey.header 基本信息
    .equal.width.fields
      .field
        label 代号
        input([(ngModel)]='editing.code', placeholder='Code')
      .field
        label 类别
        sui-select.selection([(ngModel)]="editing.category", [options]="categoryOptions",
        valueField="value", labelField="label", placeholder='类别', #categorySelect='')
          sui-select-option(*ngFor="let option of categorySelect.filteredOptions", [value]="option")
      .field
        label 状态
        sui-select.selection([(ngModel)]="editing.status", [options]="statusOptions",
        valueField="value", labelField="label", placeholder='状态', #statusSelect='')
          sui-select-option(*ngFor="let option of statusSelect.filteredOptions", [value]="option")
    .field
      label 标注
      sui-select.selection([(ngModel)]="editing.annotationFamilyId", [options]="annOptions",
      valueField="_id", labelField="name", placeholder='标注', #annSelect='')
        sui-select-option(*ngFor="let option of annSelect.filteredOptions", [value]="option")
    .field
      label 简介
      input([(ngModel)]='editing.introduction')
    .field
      label 详情
      textarea(rows='3', [(ngModel)]='editing.description')

    ng-template([ngIf]='!editing.isPrivate')
      h4.ui.dividing.grey.header 定价
      .fields
        .two.wide.field
          label 免费?
          sui-checkbox([(ngModel)]='editing.isFree') 是
        .seven.wide.field
          label 价格（分）
          .inline.field
            input([(ngModel)]='editing.price', type='number', min='0', max='19900', step='10')
            | &nbsp; {{{price:editing.price} | priceLabel}}
        .seven.wide.field
          label 标签
          .inline.field
            input([(ngModel)]='editing.priceLabel', size='12')
            a((click)='updatePriceLabel()', href='javascript:') 更新

    h4.ui.dividing.grey.header 其他
    .field
      label 标签
      input([(ngModel)]='editing.tags')
    .field(*ngIf='!editing.isPrivate')
      label 推荐语
      input([(ngModel)]='editing.slogan')
    .field
      label 主编辑
      | {{book.chiefEditorName}}

.actions
  button.ui.tiny.button((click)='close()') 取消
  button.ui.tiny.primary.button((click)='save()', autofocus='') 保存并关闭
