div(*ngIf='book')
  div([hidden]='editing')
    .ui.right.floated.basic.tiny.button([hidden]='editing', (click)='edit()') Edit
    .ui.header {{book.name}}
    .sub.header by {{book.author}}
  .ui.small.form(*ngIf='editing')
    .fields
      .eight.wide.field
        input([value]='book.name', placeholder='Book Name', #bookName='')
      .four.wide.field
        input([value]='book.author', placeholder='Author', #bookAuthor='')
    .field
      button.ui.tiny.button((click)='editing=false') Cancel
      button.ui.tiny.primary.button((click)='save(bookName.value,bookAuthor.value)') Save
  .ui.hidden.clearing.divider
  .ui.header
    | Chapters
    .ui.right.floated.header
      button.ui.tiny.basic.button((click)='chapsTuneOrder=!chapsTuneOrder') Order
      button.ui.tiny.basic.button((click)='chapOperations=!chapOperations') Remove

  .ui.hidden.clearing.divider
  book-chaps([book]='book', [tuneOrder]='chapsTuneOrder', [operations]='chapOperations')

.ui.hidden.divider
button.ui.tiny.button((click)='goBack()') Back
