.ui.celled.list(*ngIf='book')
  .item(*ngFor='let chap of book.chaps; trackBy: chapTracker; first as first; last as last')
    div([hidden]="chap===editingChap")
      .right.floated.header
        ng-template([ngIf]="tuneOrder")
          button.ui.tiny.button(*ngIf='!first', (click)='moveUp(chap)')
            i.angle.arrow.up.icon
            | up
          button.ui.tiny.button(*ngIf='!last', (click)='moveDown(chap)')
            i.angle.arrow.down.icon
            | down
          button.ui.tiny.button(*ngIf='!first', (click)='moveTop(chap)')
            i.angle.double.up.icon
            | top
          button.ui.tiny.button(*ngIf='!last', (click)='moveBottom(chap)')
            i.angle.double.down.icon
            | bottom
        ng-template([ngIf]="operations")
          button.ui.tiny.button((click)='remove(chap)') Remove
        button.ui.tiny.button((click)='edit(chap)') Edit

      a([routerLink]="['/chaps', chap._id]")
        .pre-wrap {{chap.name}}
        .zhname.pre-wrap(*ngIf="chap.zhName") {{chap.zhName}}

    .ui.form(*ngIf="chap===editingChap")
      .fields
        .eight.wide.field
          textarea(rows='2', [value]='chap.name', placeholder='Title', #chapName='')
        .eight.wide.field
          textarea(rows='2', [value]='chap.zhName||""', placeholder='标题', #chapZhName='')
      .right.floated.field
        button.ui.tiny.button((click)="editingChap=null")
          | 取消
        button.ui.tiny.primary.button((click)="saveChap(chap,chapName.value,chapZhName.value)")
          | 保存

  .ui.hidden.clearing.divider
  button.ui.right.floated.tiny.basic.primary.button([hidden]='editNew', (click)='editNew=true;') 新增
  .ui.small.form(*ngIf='editNew')
    .field
      label 新章节
    .fields
      .eight.wide.field
        textarea(rows='2', #newChapName='', placeholder='Title')
      .eight.wide.field
        textarea(rows='2', #newZhName='', placeholder='标题')
    .field.ui.right.floated.header
      button.ui.tiny.button((click)="editNew=false") 取消
      button.ui.tiny.primary.button((click)="add(newChapName.value,newZhName.value)") 保存
    .ui.hidden.clearing.divider
