div(*ngIf='book')
  .ui.content
    .ui.right.floated.sub.header
      button.ui.tiny.button((click)='showDetail()') 详情
      | &nbsp;&nbsp;
      button.ui.tiny.button((click)='showForm()') 修改
      | &nbsp;&nbsp;
      button.ui.tiny.button((click)='showUsers()') 人员
      | &nbsp;&nbsp;
      button.ui.tiny.button((click)='showPacks()') 内容包
    .name-author
      .book-name {{book.name}}
      .author
        span.author-by by
        | {{book.author}}
    .zh-name-author(*ngIf='book.zhName')
      .book-name {{book.zhName}}
      .author(*ngIf='book.zhAuthor')
        span.author-by by
        | {{book.zhAuthor}}
    .props
      .prop
        span.prop-name 代号
        | {{book.code}}
      .prop
        span.prop-name 分类
        | {{categoryNames[book.category]}}
      .prop
        span.prop-name 状态
        | {{statusNames[book.status]}}

  .ui.hidden.clearing.divider

  book-chaps([book]='book')

.ui.hidden.clearing.divider
button.ui.tiny.button((click)='goBack()') 返回
