.ui.header
  | 消息

.ui.content
  ng-template([ngIf]='currentUser&&messages')
    .ui.divided.list.messages
      .ui.item.user-message(*ngFor='let message of messages')
        .ui.received-message(*ngIf='message.senderId!==currentUser._id')
          .pre-wrap.content([ngClass]='message.readFlag? "red":""') {{message.content}}
          .footer
            | {{message.senderNickName}} &nbsp; -> &nbsp; 我
            | &nbsp; | &nbsp;{{message | createdDateString:'minute'}}
            | &nbsp; | &nbsp;{{message.readFlag? '已读':'未读'}}
            a(*ngIf='!message.readFlag', (click)='markAsRed(message)') &nbsp; 标记为已读
        .ui.sent-message.right.floated(*ngIf='message.senderId===currentUser._id')
          .pre-wrap.content([ngClass]='message.readFlag? "red":""') {{message.content}}
          .footer.right.floated
            | 我 &nbsp; -> &nbsp; {{message.receiverNickName}}
            | &nbsp; | &nbsp;{{message | createdDateString:'minute'}}
            | &nbsp; | &nbsp;对方{{message.readFlag? '已读':'未读'}}
        .clearing
    .ui.hidden.clearing.divider

  ng-template([ngIf]='scope.receiver&&!newMessage')
    button.ui.right.floated.tiny.basic.primary.button((click)='editNew()') 发消息
    .clearing

  .ui.small.form(*ngIf='newMessage')
    //.field
      input([(ngModel)]='newMessage.subject', placeholder='主题（可为空）')
    .field
      textarea([(ngModel)]='newMessage.content', rows='4', placeholder='内容')
    .field
      .ui.right.floated.small.buttons
        button.ui.small.button((click)='cancel()') 取消
        .or
        button.ui.small.primary.button((click)='send()') 发送
      .clearing

.actions
  button.ui.tiny.button((click)="close()", autofocus='') 关闭
