div(*ngIf='user')
  .ui.header
    img.ui.mini.image(*ngIf='user.avatarSetting&&user.avatarSetting.imgUrl', [src]='userAvatarsBase+"/"+user.avatarSetting.imgUrl')
    | {{user.name}} （{{user.nickName}}）
  ng-template([ngIf]='!editingUserBook')
    .ui.list
      .item 注册于 {{user | createdDateString:'minute'}}

    h4.ui.header 用户图书
    table.ui.striped.table
      thead
        tr
          th 书名
          th 加入于
          th 角色
          th 章节数
          th AM
          th
      tbody
        tr(*ngFor='let ub of userBooks')
          td {{ub.book? '('+ub.book.code+') '+ub.book.name:''}}
          td {{ub | createdDateString}}
          td {{ub.role}}
          td {{ub.isAllChaps? 'ALL': ub.chapsCount||''}}
          td {{ub.acquireMethod}}
          td.right.aligned
            .ui.mini.button((click)='editUserBook(ub)') 修改
            .ui.mini.button((click)='removeUserBook(ub)') 移除
        tr(*ngIf='!userBooks||userBooks.length===0')
          td(colspan='6') No Results.

    .ui.form(*ngIf='newUserBook')
      .ui.hidden.clearing.divider
      h4.ui.dividing.header 增加图书
      table.ui.small.selectable.table.new-books
        thead
          tr
            th 书名
            th 状态
            th.center.aligned
              i.checkmark.icon
              | 选择（
              a((click)='toggleAll()', href='javascript:') 全部
              | /
              a((click)='toggleReleased()', href='javascript:') 已上线
              | ）
        tbody
          tr(*ngFor='let book of candidateBooks', [ngClass]='{selected:book.selected}')
            td.pre-wrap {{book.label}}
            td([ngClass]='{"status-r": book.status==="R"}') {{statusNames[book.status]}}
            td.center.aligned.selectable((click)='book.selected=!book.selected')
              i.green.checkmark.icon(*ngIf='book.selected')
          tr(*ngIf='candidateBooks.length===0')
            td(colspan='2') No More.

      .inline.fields
        .field
          sui-select.selection.book-role([(ngModel)]='newUserBook.role', [options]='bookRoleOptions', placeholder='Role For Book', #bookRoleSelect='')
            sui-select-option(*ngFor='let option of bookRoleSelect.filteredOptions', [value]='option')
        .field
          sui-checkbox([(ngModel)]='newUserBook.isAllChaps') 全部章节
        .field
          .ui.mini.button((click)='cancelNewUserBook()') 取消
          .ui.mini.primary.button((click)='addUserBooks()') 增加

    .ui.right.floated.small.basic.button(*ngIf='!newUserBook', (click)='selectBook()') 增加图书

    .ui.hidden.clearing.divider
    button.ui.tiny.button((click)='goBack()') 返回


  user-book(*ngIf='editingUserBook', [userBook]='editingUserBook', (onComplete)='updateUserBook($event)')
