.ui.header
  | 用户

.ui.small.form
  .ui.right.floated.header
    sui-checkbox([(ngModel)]='tokenOp') Token操作
  .fields
    .inline.field
      input([(ngModel)]='searchName', placeholder='Name')
      sui-checkbox([(ngModel)]='manager') 管理维护人员
      button.ui.tiny.button((click)="search()") 查找
      button.ui.tiny.button((click)="searchReset()") 全部

table.ui.small.striped.table.form
  thead
    tr
      th
      th 登录名
      th 昵称
      th 手机号
      th 注册于
      th 上次登录
      th 角色
      th 备注
      th
        ng-template([ngIf]='tokenOp') 临时Token
  tbody
    tr(*ngFor='let user of users; trackBy: userTracker')
      td
        img.ui.mini.image(*ngIf='user.avatarSetting&&user.avatarSetting.imgUrl', [src]='avatarsBase+"/"+user.avatarSetting.imgUrl')
      td
        a([routerLink]="['/users', user._id]") {{user.name}}
      td {{user.nickName}}
      td {{user.phoneNumber}}
      td {{user | createdDate | date:'yyyy-MM-dd'}}
      td
        ng-template([ngIf]='user.lastLogin')
          ng-template([ngIf]='user.lastLogin.time') {{user.lastLogin.time.substr(0,10)}} &nbsp;
          ng-template([ngIf]='user.lastLogin.client') {{user.lastLogin.client}} &nbsp;
          ng-template([ngIf]='user.lastLogin.appVersion') {{user.lastLogin.appVersion}} &nbsp;
          ng-template([ngIf]='user.lastLogin.osVersion') {{user.lastLogin.osVersion}} &nbsp;
      td
        ng-template([ngIf]='!editing(user)') {{user.role}}
        ng-template([ngIf]='editing(user)')
          sui-select.selection.user-role([(ngModel)]='editingUser.role', [options]='roleOptions', placeholder='User Role', #roleSelect='')
            sui-select-option(*ngFor='let option of roleSelect.filteredOptions', [value]='option')
      td
        ng-template([ngIf]='!editing(user)') {{user.memo}}
        ng-template([ngIf]='editing(user)')
          input.input([(ngModel)]='editingUser.memo', placeholder='备注')
      td.right.aligned
        ng-template([ngIf]='tokenOp')
          ng-template([ngIf]='user.tokenObj')
            ng-template([ngIf]='user.tokenObj.token')
              | {{user.tokenObj.token}} &nbsp;
              i.clock.icon
              | ttl {{user.tokenObj.ttl | hms}}
              .ui.mini.compact.button((click)='dropTempToken(user)') 删除Token
              .ui.mini.compact.primary.button((click)='refreshTempToken(user)') 刷新Token
            ng-template([ngIf]='!user.tokenObj.token')
              | 无
              .ui.mini.compact.primary.button((click)='genTempToken(user)') 生成Token
          ng-template([ngIf]='!user.tokenObj')
            .ui.mini.compact.basic.button((click)='getTempToken(user)') 查看Token
        ng-template([ngIf]='!tokenOp')
          ng-template([ngIf]='!editing(user)')
            .ui.mini.button((click)='showDetail(user)') 详情
            .ui.mini.button((click)='edit(user)') 修改
            .ui.mini.button((click)='messages(user)') 消息
          ng-template([ngIf]='editing(user)')
            .ui.mini.button((click)='editingUser=null') 取消
            .ui.mini.primary.button((click)='save()') 保存
    tr(*ngIf='!users||users.length===0')
      td(colspan='9') No Results.
  tfoot
    tr
      th(colspan='9')
        .ui.right.floated.mini.pagination.menu
          a.icon.item([ngClass]='{disabled:page===1}', (click)='previousPage()')
            i.left.chevron.icon
          a.item.disabled {{page}}
          a.icon.item([ngClass]='{disabled:!users||users.length<pageSize}', (click)='nextPage()')
            i.right.chevron.icon

button.ui.tiny.basic.button([hidden]='newUser', (click)='editNew()') 创建用户
.ui.small.form(*ngIf='newUser')
  .field
    label New:
  .inline.field
    input([(ngModel)]='newUser.nickName', placeholder='Nick Name')
    input([(ngModel)]='newUser.name', placeholder='Login Name')
    input([(ngModel)]='newUser.pass', type='password', placeholder='Password')
    sui-select.selection.user-role([(ngModel)]='newUser.role', [options]='roleOptions', placeholder='User Role', #roleSelect='')
      sui-select-option(*ngFor='let option of roleSelect.filteredOptions', [value]='option')
  .field
    button.ui.tiny.button((click)="newUser=null") 取消
    button.ui.tiny.primary.button((click)="add()") 保存

.ui.hidden.clearing.divider
