div(*ngIf='chap')
  //sticky.sticky.ui.right.floated.header([sticky-offset-top]="10")
  .sticky.ui.right.floated.header
    .operations([hidden]='annotateOnly')
      .title
        i.paragraph.icon
        | 段落
      button.ui.mini.button(*ngIf='!first', (click)='mergeUp()')
        i.chevron.up.icon
        | 合并
      //button.ui.mini.button(*ngIf='!last', (click)='mergeDown()')
        i.chevron.down.icon
        | 向下合并
      button.ui.mini.button((click)='remove()')
        i.remove.icon
        | 删除
      button.ui.mini.button((click)='insertBefore()')
        i.add.icon
        | 插入
      sui-checkbox([(ngModel)]='continuousEditing') 连续插入/新增
      sui-checkbox([(ngModel)]='splitMode') 空行分段
      sui-checkbox([(ngModel)]='highlightSentence') 句子高亮
    .operations([hidden]='annotateOnly')
      .title
        i.write.icon
        | 编辑
      button.ui.mini.button((click)='edit()')
        i.edit.icon
        | 编辑
      sui-checkbox([(ngModel)]='clickToEdit') 选中即编辑
      //sui-checkbox([(ngModel)]='editInplace', [isDisabled]='clickToEdit') 原地编辑
      sui-checkbox([(ngModel)]='showTrans') 中文
      sui-checkbox([(ngModel)]='leftRight', [isDisabled]='!showTrans') 左右对照
      button.ui.tiny.button((click)='alignSentences()')
        i.align.left.icon
        | 分句对齐
      sui-checkbox([(ngModel)]='annotating') 标注

    .annotations.operations(*ngIf='annotating')
      .ui.right.floated.header(*ngIf='annotationSet')
        .ui.mini.basic.button(*ngFor='let ann of annotationSet.specialAnnotations', [ngClass]='{active: ann===currentAnnotation}',
        (click)='switchSpecialAnnotation(ann,$event)') {{ann.name||ann.nameEn}}
        sui-checkbox([(ngModel)]='annotatedWordsHover', (ngModelChange)='onAnnotatedWordsHoverChange()') 鼠标悬停
        sui-checkbox([(ngModel)]='annotateOnly') 仅标注
      .title
        i.text.cursor.icon
        | 标注
      .ui.mini.basic.button(*ngFor='let ann of latestAnnotations',
      [ngClass]='{active: ann===currentAnnotation}',
      (click)='switchAnnotation(ann,$event)',
      (contextmenu)='removeFromLatest(ann,$event)')
        ng-template([ngIf]='ann.dataName!=="assoc"')
          span.yo(class='{{ann.cssClass}}') {{ann.name||ann.nameEn}}
        ng-template([ngIf]='ann.dataName==="assoc"')
          span.yo(class='{{ann.cssClass}}', attr.data-assoc='{{ann.dataValue}}') {{ann.name||ann.nameEn}}
      .ui.text.menu(*ngIf='annotationSet')
        ng-template(ngFor='', let-agroup='', [ngForOf]="annotationSet.groups")
          a.item([ngClass]='{active: agroup===annotationGroup}',
          (click)='clickAnnotationGroup(agroup,$event)',
          (mouseover)='agPopupMouseover(agroup)',
          (mouseout)='agPopupMouseout(agroup)')
            | {{agroup.name}}
            i.dropdown.icon
          .ui.flowing.basic.popup([hidden]='agroup!==annotationGroup',
          (mouseover)='selectAnnotationGroup(agroup)',
          (mouseout)='agPopupMouseout(agroup)')
            .ui.right.floated.header
              .ui.mini.item
                i.pin.icon(*ngIf='keepAgPopup')
            .ui.mini.basic.button(*ngFor='let ann of agroup.annotations',
            [ngClass]='{active: ann===currentAnnotation}',
            (click)='switchAnnotation(ann,$event)')
              ng-template([ngIf]='ann.dataName!=="assoc"')
                span.yo(class='{{ann.cssClass}}') {{ann.name||ann.nameEn}}
              ng-template([ngIf]='ann.dataName==="assoc"')
                span.yo(class='{{ann.cssClass}}', attr.data-assoc='{{ann.dataValue}}') {{ann.name||ann.nameEn}}

  .ui.list.items
    ng-template(ngFor='', let-para='', [ngForOf]="chap.paras", let-index="index", let-first="first", let-last="last", [ngForTrackBy]="paraTracker")
      .item.paragraph(*ngIf='index===insertPos')
        .ui.left.floated.mini.statistic.para-no
          .value +
        para-form.ui.form.content.para-editor([ngClass]='{"left-right": leftRight, "up-down": !leftRight}',
        (onSave)="save($event)", (onSplit)="saveSplitPara($event)", (onCancel)="cancelEdit()")
      .item.paragraph
        .ui.left.floated.mini.statistic.para-no((click)='selectPara2(para)')
          .value {{index+1}}
        para-content.para-content([hidden]='editingPara===para',
        [content]='para.content',
        [trans]='para.trans',
        [showTrans]='showTrans',
        [gotFocus]='para===selectedPara',
        [editable]='para===selectedPara && editInplace',
        [highlightSentence]='para===selectedPara && highlightSentence',
        [annotatedWordsHover]='annotatedWordsHover',
        [annotating]='para===selectedPara && annotating',
        [annotation]='(para===selectedPara)? currentAnnotation : null',
        [annotationSet]='annotationSet',
        [ngClass]='{"selected": para===selectedPara, "left-right": leftRight, "up-down": !leftRight}',
        (click)='selectPara(para)',
        (contentChange)="onContentChange(para,$event)",
        (contentCommand)="onContentCommand(para,$event)",
        (dictRequest)="onDictRequest($event)",
        (noteRequest)="onNoteRequest($event)")

        para-form.ui.form.content.para-editor(*ngIf='editingPara===para',
        [ngClass]='{"left-right": leftRight, "up-down": !leftRight}',
        [para]='para', [showTrans]='showTrans',
        (onSave)="save($event)", (onSplit)="saveSplitPara($event)", (onCancel)="cancelEdit()")

    .item.paragraph(*ngIf='insertPos===chap.paras.length')
      .ui.left.floated.mini.statistic.para-no
        .value +
      para-form.ui.form.content.para-editor(
      [ngClass]='{"left-right": leftRight, "up-down": !leftRight}',
      [showTrans]='showTrans',
      (onSave)="save($event)", (onSplit)="saveSplitPara($event)", (onCancel)="cancelEdit()")

  .ui.clearing.hidden.divider
  .ui.right.floated.header([hidden]='insertPos==chap.paras.length')
    button.ui.tiny.basic.primary.button((click)='append()') 新增

  #dictPopup.ui.basic.popup
    dict-entry-smi(*ngIf='dictRequest',
    [entry]='dictRequest.dictEntry',
    [initialSelectedItem]='dictRequest.initialSelected',
    [relatedWords]='dictRequest.relatedWords',
    (viewReady)='onDictPopupReady()',
    (dictItemSelected)='onDictItemSelect($event)')

  #notePopup.ui.basic.popup.form
    .ui.sub.header 注：
    .field
      textarea.note-textarea([(ngModel)]='noteRequestNote', spellcheck='false', #noteTextarea='')
    .field
      button.ui.mini.compact.button((click)='completeNoteEdit("")')
        i.remove.icon
        | 删除
      .ui.right.floated.mini.compact.buttons
        button.ui.button((click)='completeNoteEdit(null)') 取消
        .or
        button.ui.primary.button((click)='completeNoteEdit(noteTextarea.value)') 保存
