div(*ngIf='chap')
  //sticky.sticky.ui.right.floated.header([sticky-offset-top]="10")
  .sticky.ui.right.floated.header
    .operations([hidden]='annotateOnly')
      .title
        i.paragraph.icon
        | 段落
      button.ui.mini.button(*ngIf='!first', (click)='mergeUp()')
        i.chevron.up.icon
        | 向上合并
      button.ui.mini.button(*ngIf='!last', (click)='mergeDown()')
        i.chevron.down.icon
        | 向下合并
      button.ui.mini.button((click)='remove()')
        i.remove.icon
        | 删除
      button.ui.mini.button((click)='insertBefore()', data-tooltip="Insert Before")
        i.add.icon
        | 插入
      sui-checkbox([(ngModel)]='continuousEditing') 连续插入/新增
      sui-checkbox([(ngModel)]='splitMode') 空行分段
    .operations([hidden]='annotateOnly')
      .title
        i.write.icon
        | 编辑
      button.ui.mini.button((click)='edit()')
        i.edit.icon
        | 编辑
      sui-checkbox([(ngModel)]='clickToEdit') 选中即编辑
      sui-checkbox([(ngModel)]='editInplace', [isDisabled]='clickToEdit') 原地编辑
      sui-checkbox([(ngModel)]='showTrans') 中文
      sui-checkbox([(ngModel)]='annotating') 标注

    .annotations.operations(*ngIf='annotating')
      .ui.right.floated.header
        .ui.mini.basic.button([ngClass]='{active: currentAnnotation && currentAnnotation.name==="SelectWordMeaning"}',
        (click)='switchAnnotationName("SelectWordMeaning",$event)') 选词义
        .ui.mini.basic.button([ngClass]='{active: currentAnnotation && currentAnnotation.name==="AddANote"}',
        (click)='switchAnnotationName("AddANote",$event)') 加注解
        sui-checkbox([(ngModel)]='annotateOnly') 仅标注
      .title
        i.text.cursor.icon
        | 标注
      .ui.mini.basic.button(*ngFor='let ann of latestAnnotations',
      [ngClass]='{active: ann===currentAnnotation}',
      (click)='switchAnnotation(ann,$event)',
      (contextmenu)='removeFromLatest(ann,$event)')
        span(class='{{ann.cssClass}}') {{ann.displayName||ann.name}}
      .ui.text.menu
        ng-template(ngFor='', let-agroup='', [ngForOf]="groupedAnnotations")
          a.item([ngClass]='{active: agroup===annotationGroup}',
          (click)='clickAnnotationGroup(agroup,$event)',
          (mouseover)='agPopupMouseover(agroup)',
          (mouseout)='agPopupMouseout(agroup)')
            | {{agroup.name}}
            i.dropdown.icon
          .ui.flowing.basic.popup([hidden]='agroup!==annotationGroup',
          (mouseover)='selectAnnotationGroup(agroup)',
          (mouseout)='agPopupMouseout(agroup)')
            .ui.right.floated.header
              .ui.mini.item
                i.pin.icon(*ngIf='keepAgPopup')
            .ui.mini.basic.button(*ngFor='let ann of agroup.annotations',
            [ngClass]='{active: ann===currentAnnotation}',
            (click)='switchAnnotation(ann,$event)')
              span(class='{{ann.cssClass}}') {{ann.displayName||ann.name}}

  .ui.list.items
    ng-template(ngFor='', let-para='', [ngForOf]="chap.paras", let-index="index", let-first="first", let-last="last", [ngForTrackBy]="paraTracker")
      .item.paragraph(*ngIf='index===insertPos')
        .ui.left.floated.mini.statistic.para-no
          .value +
        para-form.ui.form.content((onSave)="save($event)", (onSplit)="saveSplittedPara($event)", (onCancel)="cancelEdit()")
      .item.paragraph
        .ui.left.floated.mini.statistic.para-no((click)='selectPara2(para)')
          .value {{index+1}}
        para-content.para-content([hidden]='editingPara===para',
        [content]='para.content',
        [trans]='para.trans',
        [showTrans]='showTrans',
        [gotFocus]='para===selectedPara',
        [editable]='para===selectedPara && editInplace',
        [annotating]='para===selectedPara && annotating',
        [annotation]='(para===selectedPara)? currentAnnotation?.name : null',
        [ngClass]='{"selected": para===selectedPara}',
        (click)='selectPara(para)',
        (contentChange)="onContentChange(para,$event)",
        (contentCommand)="onContentCommand(para,$event)",
        (dictRequest)="onDictRequest($event)",
        (noteRequest)="onNoteRequest($event)")

        para-form.ui.form.content(*ngIf='editingPara===para', [para]='para', [showTrans]='showTrans',
        (onSave)="save($event)", (onSplit)="saveSplittedPara($event)", (onCancel)="cancelEdit()")

    .item.paragraph(*ngIf='insertPos===chap.paras.length')
      .ui.left.floated.mini.statistic.para-no
        .value +
      para-form.ui.form.content((onSave)="save($event)", (onSplit)="saveSplittedPara($event)", (onCancel)="cancelEdit()")

  .ui.clearing.hidden.divider
  .ui.right.floated.header([hidden]='insertPos==chap.paras.length')
    button.ui.tiny.basic.primary.button((click)='append()') 新增

  #dictPopup.ui.basic.popup
    dict-entry-compact(*ngIf='dictRequest',
    [entry]='dictRequest.dictEntry',
    [initialSelectedItemId]='dictRequest.meaningItemId',
    [relatedWords]='dictRequest.relatedWords',
    (viewReady)='onDictPopupReady()',
    (dictItemSelected)='onDictItemSelect($event)')

  #notePopup.ui.basic.popup.form
    .ui.header Add a Note:
    .field
      textarea.note-textarea([(ngModel)]='noteRequestNote', #noteTextarea='')
    .ui.right.floated.mini.buttons
      button.ui.button((click)='completeNoteEdit(null)') 取消
      .or
      button.ui.primary.button((click)='completeNoteEdit(noteTextarea.value)') 保存
