div(*ngIf='chap')
  .ui.celled.list
    ng-template(ngFor='', let-para='', [ngForOf]="chap.paras", let-index="index", let-first="first", let-last="last", [ngForTrackBy]="paraTracker")
      .item(*ngIf='index===insertPos')
        .ui.form
          .field
            label Insert:
          .fields
            .eight.wide.field
              textarea(rows='3', #insertPara='')
            .field
              button.ui.small.button((click)='this.insertPos=null') Cancel
            .field
              button.ui.small.primary.button((click)="insertBeforeSave(index,insertPara.value); insertPara.value=''")
                | Save
      .item
        div([hidden]='editingPara===para')
          .right.floated.header
            button.ui.small.button(*ngIf='!first', (click)='mergeUp(index)') merge Up
            button.ui.small.button(*ngIf='!last', (click)='mergeDown(index)') merge Down
            button.ui.small.button((click)='insertBeforeEdit(index)') Insert Before
            button.ui.small.button((click)='edit(para)') Edit
            button.ui.small.button((click)='remove(para)') Remove
          p
            | {{para.content}}
        .ui.form(*ngIf='editingPara===para')
          .fields
            .eight.wide.field
              textarea(rows='3', #paraContent='') {{para.content}}
            .field
              button.ui.small.button((click)='this.editingPara=null') Cancel
            .field
              button.ui.small.primary.button((click)='save(paraContent.value)') Save

  .ui.hidden.divider
  .ui.form
    .field
      label New:
    .two.fields
      .field
        textarea(rows='3', #newPara='')
      .field
        button.ui.small.primary.button((click)="append(newPara.value); newPara.value=''")
          | Append
