.para-form
  .para-textarea.content-textarea
    textarea([(ngModel)]="para.content", #content='', spellcheck='false')
  .para-textarea.trans-textarea(*ngIf='showTrans')
    textarea([(ngModel)]="para.trans", #trans='', spellcheck='false')
.field.operations
  .ui.tiny.buttons
    button.ui.button((click)='splitParasByLflf()')
      i.paragraph.icon
      | 分段 按空行
    .or
    button.ui.button((click)='splitParasByLf()')
      | 按换行
  | &nbsp;&nbsp;
  button.ui.tiny.button((click)='alignSentences()')
    i.align.left.icon
    | 分句
  .ui.right.floated.tiny.buttons
    button.ui.tiny.button((click)='cancel()') 取消
    .or
    button.ui.tiny.primary.button((click)='save()') 保存
